.button {
  display: inline-flex;
  background-color: var(--tt-color-button);
  color: var(--tt-color-white);
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  font-family: Inter;

  &:hover {
    background-color: var(--tt-color-button-hover);
  }
}
