.wrapper {
  background-color: var(--tt-color-inputs);
  border-radius: 10px;
  height: 100%;
  padding: 44px 52px;
  display: flex;
  flex-direction: column;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.details {
  margin-top: auto;
}

.separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: var(--tt-color-gray-light);
  background-color: var(--tt-color-gray-light);
  margin: 1em 0;
  padding: 0;
  margin-bottom: 24px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-bottom: 24px;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: va(--tt-color-main);
}
