:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --tt-color-main: #101828;
  --tt-color-text: #475467;
  --tt-color-gray: #6c717b;
  --tt-color-button: #e44848;
  --tt-color-button-hover: #d84343;
  --tt-color-rating: #ffc531;
  --tt-color-gray-light: #dadde1;
  --tt-color-badges: #f2f4f7;
  --tt-color-inputs: #f7f7f7;
  --tt-color-white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1292px;
  width: 1292px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.005em;
  height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tt-color-button);
  color: var(--tt-color-white);
  border-radius: 8px;
  padding-left: 48px;
  padding-right: 48px;
  border: none;
  border-radius: 200px;
  text-decoration: none;

  &:hover {
    background-color: var(--tt-color-button-hover);
  }
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  color: var(--tt-color-button);
  --_c: no-repeat radial-gradient(farthest-side, currentColor 92%, #0000);
  background: var(--_c) 50% 0 /12px 12px, var(--_c) 50% 100%/12px 12px,
    var(--_c) 100% 50%/12px 12px, var(--_c) 0 50%/12px 12px,
    var(--_c) 50% 50%/12px 12px,
    conic-gradient(from 90deg at 4px 4px, #0000 90deg, currentColor 0) -4px -4px /
      calc(50% + 2px) calc(50% + 2px);
  animation: l8 1s infinite linear;
}
@keyframes l8 {
  to {
    transform: rotate(0.5turn);
  }
}
